@import '../../styles/base.scss';

.body{
    margin: 0;
}

.page-wrapper{
    min-height: 100vh;
    padding: 25px 25px;
    background-color: $primary-color;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
}

.maps-box{
    display: flex;
    justify-content: center;
}