@import '../../../../styles/base.scss';

.time-input{
    padding: 16.5px 14px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px gray sold;
}

.submit-button{
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
}

.submit-button:hover{
    cursor: pointer;
}